.btn
  padding $s $s * 3
  background-color $primary
  border-radius 50px
  color $white !important
  text-align center
  transition all 0.3s ease

  &:hover
    background-color $primaryHover
    color $white

  &.outline
    background-color transparent
    border 2px solid $white

    &:hover
      background-color $white
      color $textGrey !important