.list-cards
  margin-top $m
  margin-bottom $m

  @media (min-width $minDesk)
    display flex
    flex-wrap wrap
    justify-content space-between

  .list-card-item
    width 100%
    display flex
    flex-direction column
    background-color $white
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 0 2px 0 rgba(0,0,0,0.12);

    @media (max-width $maxTablet)
      &:not(:last-child)
        margin-bottom $m

    @media (min-width $minDesk)
      width calc(50% - 12px)
      margin-bottom $m

    @media (min-width $minDeskHD)
      width calc(33% - 12px)
      margin-bottom $m

    @media (min-width $minDeskUltraHD)
      width calc(25% - 12px)
      margin-bottom $m

    .list-card-header
      max-height 160px
      width 100%
      display flex
      justify-content center
      align-items center
      overflow hidden
      cursor pointer
      
      img
        width 100%

    .list-card-body
      padding $s

      h4
        font-size 1.5rem
      
      p
        overflow hidden
        display block
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        max-height 200px