footer
  height $headerFooter
  box-shadow: 0 -2px 4px 3px rgba(0,0,0,0.15);
  background-color $white
  position fixed
  bottom 0
  width 100%

  .tabs
    height 100%
    display flex

    .tab
      width 50%
      display flex
      justify-content center
      align-items center

      &:not(:first-child)
        border-left 2px solid $lightGrey

      span
        color $primary
        font-size 2rem