button
  background none
  border none
  outline none !important
  -webkit-appearance: none;
  -moz-appearance: none;

@import "variables.import.styl"
@import "fonts.import.styl"
@import "icons.import.styl"
@import "buttons.import.styl"

@import "layout.import.styl"

@import "sheet.import.styl"
@import "map.import.styl"

@import "header.import.styl"
@import "footer.import.styl"
@import "card.import.styl"
@import "cardlist.import.styl"
@import "popup.import.styl"

html body
  color $textGrey

.link
  &.active
    color $primary

.main
  margin $headerFooter + $m 0

.marker
  background-size cover
  width 40px
  height 55px
  cursor pointer

  &.battle
    background-image url('/static/img/pointer-battles.png')

  &.correspondent
    background-image url('/static/img/pointer-correspondants.png')