*
  box-sizing border-box

// COLORS

$primary = #4DA6DE
$primaryHover = #418bba

$white = #ffffff
$lightGrey = #979797
$backgroundGrey = #EEEEEE
$textGrey = #4A4A4A 

// MEASURES

$xs = 8px
$s = 2 * $xs
$m = 3 * $xs
$xxxl = 8 * $xs

// Z-INDEX

$header = 1000

// SIZES

$headerFooter = 60px

// RESPONSIVE

$maxDeskUltraHD = 1920px
$minDeskUltraHD = 1661px

$maxDeskHD = 1660px
$minDeskHD = 1441px

$maxDeskLarge = 1440px
$minDeskLarge = 1280px

$maxDesk = 1279px
$minDesk = 1025px

$minDeskHeight = 801px
$maxDeskHeight = 800px

$maxTablet = 1024px
$minTablet = 768px

$maxMobile = 767px
$minMobile = 480px