*
  box-sizing border-box

// COLORS

$primary = #4DA6DE

$white = #ffffff
$lightGrey = #979797
$backgroundGrey = #EEEEEE
$textGrey = #4A4A4A 

// MEASURES

$xs = 8px
$s = 2 * $xs
$m = 3 * $xs
$xxxl = 8 * $xs

// Z-INDEX

$header = 1000

// SIZES

$headerFooter = 60px